/* Custom styles */

@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    will-change: transform;
}

.animate-marquee:hover {
    animation-play-state: paused;
}